* {
  font-family: 'Rubik', sans-serif; }

h1 {
  font-weight: 900;
  max-width: 580px; }

h2, h3, h4, h5, h6 {
  font-weight: 400; }

h3 {
  max-width: 580px;
  margin-right: auto;
  margin-left: auto; }

p, a {
  font-weight: 300;
  max-width: 580px;
  margin-right: auto;
  margin-left: auto; }

a {
  cursor: pointer; }

h1 {
  font-size: 33.1851851852px; }

h2 {
  font-size: 24.8888888889px; }

h3 {
  font-size: 18.6666666667px; }

p, a {
  font-size: 14px; }

@media (min-width: 48em) {
  h1 {
    font-size: 37.9259259259px; }

  h2 {
    font-size: 28.4444444444px; }

  h3 {
    font-size: 21.3333333333px; }

  p, a {
    font-size: 16px; } }
/*
p, a {
    font-size:16px;
}

h3 {
    font-size:21px;
}

h2 {
    font-size:28px;
}

h1 {
    font-size:37px;
}*/
html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dashed #777;
  cursor: pointer; }

.wrapper {
  overflow-x: hidden;
  padding-bottom: 300px;
  position: relative; }

.section {
  position: relative;
  z-index: 2; }
  .section h2 {
    letter-spacing: 3px; }

.section.obliquos {
  position: relative;
  padding-bottom: 70px; }
  .section.obliquos:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    z-index: -1; }

.section.black, .black {
  background: #1c1c1c;
  color: #fff; }
  .section.black:before, .black:before {
    background: #1C1C1C; }

.section.white {
  background: #fff;
  color: #1c1c1c; }
  .section.white:before {
    background: #fff; }

.section.after-top {
  margin-top: 90vh; }

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  height: 300px;
  left: 0;
  width: 100%;
  z-index: 1; }

/*JS CLASSES*/
._disable-scroll {
  overflow: hidden;
  position: fixed; }

.hidden {
  opacity: 0;
  pointer-events: none; }

.show {
  opacity: 1;
  pointer-events: auto; }

/*ANIMATION CLASSES*/
.animate--js {
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0;
  transform: translateX(-30px); }

.fadeIn {
  animation: fadeIn 300ms 200ms forwards; }

.upDown {
  animation: upDown 500ms forwards; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@-webkit-keyframes title {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-moz-keyframes title {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-o-keyframes title {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes subtitle {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-moz-keyframes subtitle {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-o-keyframes subtitle {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes subtitle {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  95% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes upDown {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@-moz-keyframes upDown {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@-o-keyframes upDown {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@keyframes upDown {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@-webkit-keyframes downUp {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@-moz-keyframes downUp {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@-o-keyframes downUp {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
@keyframes downUp {
  0%,100% {
    height: 0; }
  50% {
    height: 100%; } }
.navbar {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  opacity: 0;
  transform: translateX(0);
  animation: fadeOut 200ms 1.1s forwards ease-in;
  padding: 10px 0; }
  .navbar p {
    display: inline-block;
    padding: 0 10px; }
  .navbar a {
    border-bottom: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400; }
  .navbar .expanded-menu {
    display: none; }
    @media (min-width: 48em) {
      .navbar .expanded-menu {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: flex-end; } }
    .navbar .expanded-menu .home {
      flex: 1;
      font-weight: bold; }
  .navbar .button-container {
    padding: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; }
    @media (min-width: 48em) {
      .navbar .button-container {
        display: none; } }
  .navbar .btn-menu {
    cursor: pointer;
    padding: 0;
    position: relative; }
    .navbar .btn-menu:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid #555;
      background: #fff; }

.navbar p.open::after {
  animation: upDown 500ms forwards; }

.navbar p.close::after {
  animation: downUp 500ms forwards; }

.navbar.shadow {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.24); }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1000;
  background: #fff; }
  .menu .menu--list {
    padding-top: 50px;
    list-style: none; }
    .menu .menu--list li {
      font-size: 16px;
      padding: 12px 0 12px 2px;
      letter-spacing: 2px; }

.menu.menu--close {
  pointer-events: none; }

.menu.menu--open {
  pointer-events: auto; }

.section.home {
  position: fixed;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: -1; }

.row.name, .row.surname {
  position: relative;
  opacity: 1; }
  .row.name span, .row.surname span {
    display: inline-block;
    opacity: 0;
    font-size: 50px;
    font-weight: 900; }

.row.name span:nth-child(1) {
  animation: title 300ms forwards ease-out; }
.row.name span:nth-child(2) {
  animation: title 300ms 100ms forwards ease-out; }
.row.name span:nth-child(3) {
  animation: title 300ms 200ms forwards ease-out; }
.row.name span:nth-child(4) {
  animation: title 300ms 300ms forwards ease-out; }

.row.surname span:nth-child(1) {
  animation: subtitle 300ms 400ms forwards ease-out; }
.row.surname span:nth-child(2) {
  animation: subtitle 300ms 500ms forwards ease-out; }
.row.surname span:nth-child(3) {
  animation: subtitle 300ms 600ms forwards ease-out; }
.row.surname span:nth-child(4) {
  animation: subtitle 300ms 700ms forwards ease-out; }
.row.surname span:nth-child(5) {
  animation: subtitle 300ms 800ms forwards ease-out; }
.row.surname span:nth-child(6) {
  animation: subtitle 300ms 900ms forwards ease-out; }
.row.surname span:nth-child(7) {
  animation: subtitle 300ms 1s forwards ease-out; }
.row.surname span:nth-child(8) {
  animation: subtitle 300ms 1.1s forwards ease-out; }

.row.subtitle h2 {
  opacity: 0;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  animation: fadeIn 300ms 1.3s forwards ease-out; }

.row.timeline.black {
  position: relative; }
  .row.timeline.black .entry {
    padding: 15px 0px; }
    .row.timeline.black .entry .title {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
      font-size: 21px;
      position: relative; }
    .row.timeline.black .entry .description {
      font-size: 16px;
      color: #ccc;
      line-height: 1.5; }

.row.timeline.white {
  position: relative; }
  .row.timeline.white .entry {
    padding: 15px 0px; }
    .row.timeline.white .entry .title {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;
      font-size: 21px;
      position: relative; }
    .row.timeline.white .entry .description {
      font-size: 16px;
      color: #777;
      line-height: 1.5; }

.row.skills h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 21px; }

.tech-skill.content {
  padding: 10px 0;
  color: #777;
  line-height: 1.5;
  margin: 0 auto; }
  .tech-skill.content em {
    color: #000; }

.soft-skill.content {
  padding: 0;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto; }
  .soft-skill.content li {
    list-style: none;
    padding: 10px 0; }
  .soft-skill.content .soft-skill.label {
    letter-spacing: 2px; }
  .soft-skill.content p {
    margin-top: 7px;
    text-transform: none;
    color: #777;
    line-height: 1.5; }

.project-grid {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 48em) {
    .project-grid {
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start; } }
  .project-grid .project-card {
    position: relative;
    margin-bottom: 20px; }
    @media (min-width: 48em) {
      .project-grid .project-card {
        flex-basis: 50%; } }
    .project-grid .project-card .pre-img {
      width: 150px;
      height: 150px;
      background: #eee;
      background-size: contain;
      margin: 0 auto; }
    .project-grid .project-card .img-link {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-bottom: none; }
    .project-grid .project-card .pre-img.pb {
      background: url("../assets/img/pb_reduced.jpg") no-repeat center center; }
    .project-grid .project-card .pre-img.se {
      background: url("../assets/img/se_reduced.JPG") no-repeat center center; }
    .project-grid .project-card .pre-img.mtgd {
      background: url("../assets/img/mtgd.png") no-repeat center center; }
    .project-grid .project-card .pre-img.re {
      background: url("../assets/img/re_2.png") no-repeat center center; }
    .project-grid .project-card .project-title {
      position: absolute;
      top: 120px;
      left: 50%;
      width: 200%;
      transform: translateX(-50%);
      text-align: center;
      letter-spacing: 2px;
      z-index: 10;
      font-size: 28px;
      font-weight: 900;
      color: #333; }
    .project-grid .project-card .project-tech {
      text-align: center;
      line-height: 1.5; }

.about {
  text-align: left; }
  .about .content {
    color: #ccc;
    line-height: 1.5; }

.contact-list {
  /*display: flex;
  flex-flow: column;*/ }
  .contact-list .contact-el {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
    position: relative; }
    .contact-list .contact-el a {
      color: inherit;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 20px;
      margin-left: 10px;
      border-bottom: 1px dashed #fff; }

/*# sourceMappingURL=main.css.map */
